#instagram {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	line-height: 0px;
}

#me {
    width: 650px;
    height: 150px;
    position: relative;
}

#user {
    width: 650px;
    height: 150px;
    position: relative;
}

#myLikes {
    width: 650px;
    height: 150px;
    position: relative;
}

#popular {
    width: 650px;
    height: 150px;
    position: relative;
}

#search {
    width: 650px;
    height: 150px;
    position: relative;
}

.more {
    position: relative;
    float: right;
}

.instagramError { 
	border: 1px solid #C46E6E;
	background: #FAF0F0;
	color: #8A0000;
	padding: 1em;
}